{% extends "common_components.html" %}
{% block start %}


<div class="container">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            
            <div class="card col-6 mt-3">
                <div class="card-header bg-warning text-center">
                    <h1>Register Here</h1>
                </div>
                <div class="card-body">
                    <form class="p-3" enctype="multipart/form-data" method="POST">
                      {% csrf_token %}

                      {% if messages %}
                      <div class="alert alert-primary" role="alert">
                        {% for message in messages %}
                        {{ message }}
                        {% endfor %}
                      </div>

                      <ul class="messages">
                          
                          <li {% if message.tags %} class="{{ message.tags }}"{% endif %}></li>
                          
                      </ul>
                      {% endif %}
                        <div class="mb-3">
                            <label for="name" class="form-label">Full Name:</label>
                            <input type="text" name="full_name" class="form-control" id="name" placeholder="Enter your User Name" required>
                          </div>

                          <div class="mb-3">
                            <label for="name" class="form-label">Username:</label>
                            <input type="text" name="username" class="form-control" id="name" placeholder="Enter your User Name" required>
                          </div>

                          <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Email address:</label>
                            <input type="email" name="user_email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your Email" required>
                          </div>

                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Password:</label>
                          <input type="password" name="user_password" class="form-control" id="exampleInputPassword1" placeholder="Create a Password" required>
                        </div>

                        <div class="mb-3">
                            <label for="number" class="form-label">Contact no. :</label>
                            <input type="tel" name="user_phone" class="form-control" id="number" placeholder="Enter your Contact" required>
                          </div>

                        <div class="mb-3">
                            <label for="address" class="form-label">User Address:</label>
                            <input type="text" name="user_address" class="form-control" id="address" placeholder="Enter your Address" required>
                          </div>

                        <p>Already have an account? <a href="/login/">Login Here</a></p>
                        <div class="col-12 d-flex justify-content-center">
                            <button type="submit" class="btn btn-success btn ms-6 mt-3 col-3">Register</button>
                        </div>
                      </form>

                      
                </div>
            </div>
            
        </div>
    </div>
</div>




{% endblock %}